.login-div {
    height: 100%;
    background: url(./bg.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.m-login {
    width: 280px;
    margin: 0 auto;
    padding-top: 8%;
    .el-input__inner {
        height: 38px;
    }
    .el-button {
        padding: 13px 15px;
    }
    .el-form-item__error {
        top: 25%;
        right: 10px;
        height: 0;
        text-align: right;
    }
    .el-form-item {
        margin-bottom: 14px;
    }
    .m-login-remember {
        margin-top: -10px;
        margin-bottom: 20px;
        .el-checkbox__label {
            color: #cacbcc;
            font-size: 12px;
        }
        .el-checkbox__inner {
            width: 14px;
            height: 14px;
        }
        .el-checkbox__inner:after{
            left: 3px;
        }
    }
    .m-login-title {
        $titleHeight: 32px;
        text-align: center;
        margin-bottom: 30px;
        line-height: $titleHeight;
        height: $titleHeight;
        >span {
            display: inline-block;
            color: #fff;
            font-size: $titleHeight;
            font-weight: bold;
        }
    }
    .el-button--primary {
        height: 38px;
        line-height: 8px;
    }
}
.u-login-icon {
    // display: inline-block;
    // width: 164px;
    // height: 35px;
    // background: url(./img/login-logo.png) no-repeat;
    // background-size: contain;
}
.el-form-item__error {
    color: #d42b4b;
}
.el-form-item.is-error .el-input__inner {
    border-color: #d42b4b;
}
.el-button--primary {
    border-color: #00b8e6;
    color: #fff;
    background-color: #00b8e6;
    &:focus, &:hover {
        border-color: #0099bf;
        color: #fff;
        background-color: #0099bf;
    }
}
.el-input__inner :focus {
    border-color: #dbe6ea;
}